<h3>Buenas
	{{ user.username }}</h3>
<br>
<h4>Hemos actualizado su contraseña con éxito.</h4>
<br>
<p>Desde ahora utilizará la siguiente contraseña:
	{{ password }}</p>
<br>
<p>Un saludo del equipo de Workdoo.</p>
