<h3>Bienvenido
	{{ user.username }}</h3>
<br>
<h4>Su registro se ha completado con éxito</h4>
<br>
<p>Desde ahora podrá acceder a través de nuestro login.</p>
<br>
<p>Un saludo del equipo de Workdoo.</p>
