<h1>Buenas
	{{ user.username }}</h1>

<h4>Desde el equipo de WorkDoo queremos darle las gracias por confiar en nosotros</h4>

<p>Hemos resuelto su ticket con asunto:</p>
<p>{{ ticket.asunto }}</p>
<br>
<p>La respuesta la puede ver a continuación en este email o accediendo a nuestra web:</p>
<p>{{ ticket.respuesta }}</p>
<br><br>
<p>Si tiene alguna duda más o no se ha terminado de resolver, por favor vuelva a crear otro ticket</p>
<br>
<p>Un saludo de todo el equipo de WorkDoo.</p>
