{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}
<div class="container-fluid">
	<div class="row bg-secondary text-white pie align-items-center">
		<div class="col-12 text-center">
			<p>Developed By Raúl Castillejos</p>
		</div>

	</div>
</div>
