{% extends 'base.html.twig' %}

{% block title %}Registrate
{% endblock %}
{% block stylesheets %}
	<style>
		#titulo {
			background-color: rgb(255, 123, 0);
			margin-top: 0;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="titulo">
		<div class="container mb-5">
			<div class="row">
				<div class="col-12">
					<h1 class="col-12 text-center mt-4 mb-4" style="color:white;">Registrate para utilizar nuestro servicio de soporte</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="col-12 mt-5">
					{% if error %}
						<div class="alert alert-danger">{{ error }}</div>
					{% endif %}
				</div>

				{{ include('user/_registroForm.html.twig') }}
			</div>
		</div>
	</div>


{% endblock %}
